@model IEnumerable<MvcMyLibrary.Models.CompleteBook>
@{
    ViewBag.Title = "Library Home ";
}

<div class="container" style="max-width: 1800px; ">
    <div class="row">
        <div class="flex-container col-md-7 col-md-offset-2">
            @foreach (var book in Model)
            {
                <div class="flex-item" id="@book.BookId">
                    @*span is needed so that book.Title is closed inside tags, with no spaces around*@
                    @*otherwise book.Title gets all the tabs and line breaks till the closing div tag when used as Book API search string*@
                    <div class="title"><span>@book.Title</span>
                    <div class="book-icons">
                            <a href="#" class="book-edit" title="edit" data-id="@book.BookId" data-toggle="modal" data-target="#newBookModal"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a href="@Url.Action("Delete", "BookActions", new { @id = @book.BookId })" onclick="if (confirm('Are you sure?')) return true; return false" class="book-delete" title="delete"><span class="glyphicon glyphicon-remove"></span></a>
                        </div>
                    </div>
                    <p class="author">@book.AuthorName @book.AuthorSurname</p>
                    <p class="cover"><img src="~/Content/Images/@book.CoverImageUrl" height="162" width="114" /></p>
                    <p class="genre"><a href="@Url.Action("IndexGenre", "Home", new {@GenreId = @book.GenreId})">@book.Genre</a></p>
                        
                    @Html.Hidden("hidAuthorName", @book.AuthorName)
                    @Html.Hidden("hidAuthorSurname", @book.AuthorSurname)
                    @Html.Hidden("hidGenreId", @book.GenreId)
                </div>
            }
        </div>

        @*Book Info*@
        <div id="bookInfo" class="col-md-3 pull-right" style="display: none;">
            <div id="close-bookInfo"><span class="glyphicon glyphicon-remove"></span></div>
            <p id="title"></p>
            <p id="subtitle"></p>
            <p id="author"></p>
            <p id="cover"></p>
            <p id="genre"></p>
            <p id="rating"></p>
            <p id="description"></p>
        </div>
    </div>
</div>

<div class="to-top"><span class="glyphicon glyphicon-chevron-up"></span></div>


@*--New Book POPUP--*@
<div id="newBookModal" class="modal fade" role="dialog">
    @*pass new model, otherwise _newBook view will expect Index model which is IEnumerable<MvcMyLibrary.Models.CompleteBook>*@
    @Html.Partial("_newBook", new MvcMyLibrary.Models.CompleteBook())
</div>