@model IEnumerable<MvcMyLibrary.Models.CompleteBook>
@{
    ViewBag.Title = "Library Home " + ViewBag.SavedBook;
}

<div class="container" style="max-width: 1800px; ">
    <div class="row">
        <div class="flex-container col-md-7 col-md-offset-2">
            @foreach (var book in Model)
            {
                <div class="flex-item" id="@book.BookId">
                    <div class="title">@book.Title
                        <div class="book-icons">
                            <a href="#" class="book-edit" title="edit"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a href="#" class="book-delete" title="delete"><span class="glyphicon glyphicon-remove"></span></a>
                        </div>
                    </div>
                    <p class="author">@book.AuthorName @book.AuthorSurname</p>
                    <p class="cover"><img src="~/Content/Images/@book.CoverImageUrl" height="200" width="140" /></p>
                    <p class="genre">@book.Genre</p>
                </div>
            }
        </div>

        @*Book Info*@
        <div id="bookInfo" class="col-md-3 pull-right" style="display: none;">
            <p id="title"></p>
            <p id="subtitle"></p>
            <p id="author"></p>
            <p id="cover"></p>
            <p id="genre"></p>
            <p id="rating"></p>
            <p id="description"></p>
        </div>
    </div>
</div>


@*--New Book POPUP--*@
<div id="newBookModal" class="modal fade" role="dialog">
    @*pass new model, otherwise _newBook view will expect Index model which is IEnumerable<mvcmylibrary.models.completebook>*@
    @Html.Partial("_newBook", new MvcMyLibrary.Models.CompleteBook())
</div>