<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My MVC Library</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Library", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <a href="#" class="navbar-brand" data-toggle="modal" data-id="0" data-target="#newBookModal">Add Book</a>
                   @using (Html.BeginForm("Search", "BookActions", FormMethod.Post, new { @class = "search-form" })) { @Html.TextBox("search", "", new { @class = "txt-search form-control", @placeholder = "Search" })  <button type="submit" id="btn-search" class="btn"><span class="glyphicon glyphicon-search"></span></button>
                    <label for="chkSwitch" class="switch">
                        <input type="checkbox" id="chkSwitch" name="chkSwitch">
                        <div class="slider"></div>
                    </label>
}
            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
        <div id="sidebar">
            @{Html.RenderAction("SideBar"); }
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My Library App</p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
