@model MvcMyLibrary.Models.CompleteBook

<div id="add-book-popup">
    <div class="top-bar">
        <button type="button" class="close x-close" data-dismiss="modal">&times;</button>
        <span>Add Book</span>
    </div>

    @*use multipart/form-data when your form includes any <input type="file"> elements*@
    @using (Html.BeginForm("SaveUpdateBook", "BookActions", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.Hidden("hiddenId")

        <div class="form-wrap">
            <div class="form-group">
                @*@Html.LabelFor(m => m.Book.Title, "Title:", new { @class = "col-sm-3 control-label"})*@
                @Html.LabelFor(m => m.Title, "Title:", new { @class = "col-sm-3 control-label" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control", @placeholder = "Title", @style = "max-width: 100%" })
                    @Html.ValidationMessageFor(m => m.Title, "", new { @class = "error-msg" })
                </div>
            </div>
            <br />
            <div class="form-group">
                @*<label for="inputName" class="col-sm-3 control-label">Author:</label>*@
                @Html.LabelFor(m => m.AuthorName, "Author:", new { @class = "col-sm-3 control-label" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.AuthorName, new { @class = "form-control", @placeholder = "Name" })
                    @Html.ValidationMessageFor(m => m.AuthorName, "", new { @class = "error-msg" })
                </div>
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.AuthorSurname, new { @class = "form-control", @placeholder = "Surname" })
                    @Html.ValidationMessageFor(m => m.AuthorSurname, "", new { @class = "error-msg" })
                </div>
            </div>
            <div class="form-group" style="margin-top: 35px; margin-bottom: 35px; position: relative">
                <label for="GenreId" class="col-sm-3 control-label">Select Genre:</label>
                <div class="col-sm-8" id="ddGenre">
                    @*new SelectList(@Model.GenreList, "GenreId", "GenreName")  -- GenreId je property iz Genre modela koji prestavlja Value od SelectListItema,
                                                                                -- GenreName je property iz Genre modela koji prestavlja Text od SelectListItema*@
                    <div class="container">
                        <div class="row">
                            @Html.DropDownListFor(m => m.GenreId, new SelectList(@Model.GenreList, "GenreId", "GenreName"), "-- Select Genre --", new { @class = "ddl-genre form-control btn-select col-sm-9" })
                            <input type="button" id="btn-add-genre" class="btn btn-default btn col-sm-2" title="Add Genre" value="Add" />
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.GenreId, "", new { @class = "error-msg" })
                    <div class="container" id="new-genre-box" style="display:none;">
                        <div class="row">
                            @Html.TextBoxFor(m => m.Genre, new { @class = "txt-add-genre form-control col-sm-9", @placeholder="Enter Genre" })
                            <input type="button" id="btn-submit-genre" class="btn btn-default btn col-sm-2 disabled" title="Add Genre" value="Submit" />
                            @Html.ValidationMessageFor(m => m.Genre, "", new { @class = "error-msg" })
                        </div>
                    </div>
                </div>
            </div>
            <div id="update-cover" class="form-group" style="display: none;">
                <label class="col-sm-3 control-label">Current Cover:</label>
                <img height="162" width="114" src="~/Content/Images/noimage.jpg" />
                <input id="change-cover" type="button" class="btn btn-default btn-xs" value="Change Cover" style="margin-left: 17px;" />
            </div>
            <div id="upload-box" class="form-group">
                <label for="image-upload" class="col-sm-3 control-label">Upload Image:</label>
                <div class="col-sm-8">
                    <label class="btn btn-default" style="width: 100%;">
                        <input id="image-upload" name="ImageUrl" type="file" style="min-width: 100%;">
                    </label>
                </div>
            </div>
        </div>
        <div class="save-buttons">
            <button type="submit" class="btn btn-success col-sm-3 col-sm-offset-2" @*onclick="alert('This is saved')"*@>Save</button>
            <button type="button" class="btn btn-danger col-sm-3 col-sm-offset-2" data-dismiss="modal">Cancel</button>
        </div>
    } @*</form>*@
</div>